<div class="mainCont container col-12">

    <div class="busqueda" *ngIf="buscador">

        <input type="text" placeholder="Codigo postal, dirección, ...">
        <button class="boton btn-success"><i class="fas fa-search"></i></button>
    </div>

    <div class="mapa">

        <agm-map [latitude]="huertosLocalizacion[0].latitud" [longitude]="huertosLocalizacion[0].longitud"
            [zoom]="huertosLocalizacion[0].zoom">
            <agm-marker *ngFor="let huerto of huertosLocalizacion" [latitude]="huerto.latitud"
                [longitude]="huerto.longitud">
            </agm-marker>


        </agm-map>


    </div>
</div>