<navbar></navbar>


<div class="mainCont container">


    <nav class="navi navbar navbar-expand-lg navbar-light bg-light">

        <div class="elementos">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item btn">
                        No leídos
                    </li>
                    <li class="nav-item btn">
                        Más antiguos
                    </li>
                </ul>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn botonBusqueda" type="submit">Buscar mensaje</button>
                </form>
            </div>
        </div>
    </nav>



    <div class="mensajeria">

        <div class="convo card">
            <div class="nombre card-header">
                <h5 class="card-title">Nombre e imagen usuario </h5>
            </div>
            <div class="contenido card-body">
                <p class="card-text">Snippet del ultimo mensaje (unas 15-20 palabras)</p>
                <small>Fecha ultimo mensaje</small>
                <button class="btn boton">Ver conversación</button>
            </div>
        </div>


        <div class="convo card">
            <div class="nombre card-header">
                <h5 class="card-title">Nombre e imagen usuario </h5>
            </div>
            <div class="contenido card-body">
                <p class="card-text">Snippet del ultimo mensaje (unas 15-20 palabras)</p>
                <small>Fecha ultimo mensaje</small>
                <button class="btn boton">Ver conversación</button>
            </div>
        </div>


        <div class="convo card">
            <div class="nombre card-header">
                <h5 class="card-title">Nombre usuario</h5>
            </div>
            <div class="contenido card-body">
                <p class="card-text">Snippet del ultimo mensaje (unas 15-20 palabras)</p>
                <small>Fecha ultimo mensaje</small>
                <button class="btn boton">Ver conversación</button>
            </div>
        </div>
    </div>
</div>