<navbar></navbar>


<div class="mainCont container">


    <nav class="navi navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Filtros</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Más recientes<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Más antiguos</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn botonBusqueda" type="submit">Buscar conversación</button>
            </form>
        </div>
    </nav>






    <div class="mensajeria">

        <div class="convo card" *ngFor="let conversacion of conversaciones">
            <div class="nombre card-header">
                <img src="{{ usuario?.id === conversacion?.usuario1 ? conversacion.imagen_2 :
                    conversacion.imagen_1 }}">
                <h5 class="card-title">
                    {{ usuario?.id === conversacion?.usuario1 ? conversacion.nombre_usuario_2 :
                    conversacion.nombre_usuario_1}}
                </h5>
            </div>

            <div class="contenido card-body">
                <p class="card-text">{{conversacion.mensajes[conversacion.mensajes.length - 1].texto}}</p>
                <small>{{conversacion.mensajes[conversacion.mensajes.length - 1].fecha |date: "dd/MM/yyyy"}}</small>
                <button class="btn boton" (click)="onClick(conversacion.id)">Ver conversación</button>
            </div>
        </div>


        <!--   <div class="convo card">
            <div class="nombre card-header">
                <h5 class="card-title">Nombre e imagen usuario </h5>
            </div>
            <div class="contenido card-body">
                <p class="card-text">Snippet del ultimo mensaje (unas 15-20 palabras)</p>
                <small>Fecha ultimo mensaje</small>
                <button class="btn boton">Ver conversación</button>
            </div>
        </div> -->


        <!--  <div class="convo card">
            <div class="nombre card-header">
                <h5 class="card-title">Nombre usuario</h5>
            </div>
            <div class="contenido card-body">
                <p class="card-text">Snippet del ultimo mensaje (unas 15-20 palabras)</p>
                <small>Fecha ultimo mensaje</small>
                <button class="btn boton">Ver conversación</button>
            </div>
        </div> -->
    </div>
</div>