<div class="mainCont container col-12">

    <div class="busqueda" *ngIf="buscador">

        <input type="text" placeholder="Codigo postal, dirección, ...">
        <button class="boton btn-success"><i class="fas fa-search"></i></button>
    </div>

    <div class="mapa">

        <agm-map [latitude]="latitud" [longitude]="longitud" [zoom]="zoom">
            <agm-marker *ngFor="let parcela of parcelas" [latitude]="parcela.latitud" [longitude]="parcela.longitud">

            </agm-marker>

        </agm-map>


    </div>
</div>