<div class="mainCont container col-12">

    <div class="busqueda" *ngIf="buscador">

        <input type="text" [(ngModel)]="busqueda" placeholder="Codigo postal, dirección, ...">
        <button type="submit" class="boton btn" (click)="onSearch()"><i class="fas fa-search"></i></button>
    </div>

    <div class="mapa">

        <agm-map [latitude]="latitud" [longitude]="longitud" [zoom]="zoom" [fitBounds]="fitBounds">
            <agm-marker *ngFor="let parcela of parcelas" [latitude]="parcela.latitud" [longitude]="parcela.longitud"
                [agmFitBounds]=true>

            </agm-marker>

        </agm-map>


    </div>
</div>