<navbar></navbar>


<div class="mainCont container col-12">

  <div class="busqueda">

    <app-mapa-parcelas [parcelas]="parcelas">

    </app-mapa-parcelas>


  </div>





  <div class="lista">

    <div class="desplegable ">
      <h3 class="text">Huertos cerca de tí</h3>
      <select class="boton btn btn-block" (click)="onSelect($event)">
        <option value="" value="none" selected disabled hidden>Filtros </option>
        <option value="pA">Precio ascendente</option>
        <option value="pD">Precio descendente</option>
        <option value="tD">Tamaño disponible</option>
      </select>
    </div>

    <div class="scroll">


      <div class="fila" *ngFor="let parcela of parcelitas">

        <div class="columna">

          <img src="{{ parcela.images }}" alt="">
        </div>


        <div class="columna2">
          <div class="card-body">
            <h5 class="card-title" (click)="onClick(parcela)">{{ parcela.titulo }}</h5>
            <h6>{{ parcela.precio_metro}}€ / m2</h6>
            <p class="card-text"> {{ parcela.descripcion }} </p>
            <p class="card-text text-muted"> {{ parcela.calle }}</p>
          </div>
        </div>


        <!--  <div class="rate">
          <div class="corazoncito">
            <input type="checkbox" id="like" (click)="agregarFav(cora)" />
            <label for="like">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M12 21.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53 0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54l-1.45 1.31z" />
              </svg>
            </label>
          </div>

          <p-rating [(ngModel)]="val" [cancel]="false"></p-rating>
        </div> -->




      </div>


    </div>

  </div>


</div>