<navbar></navbar>


<div class="mainCont container col-12">

    <div class="busqueda">
        <app-mapa [buscador]="false"></app-mapa>
    </div>





    <div class="lista">

        <div class="desplegable ">
            <h3 class="text-success">Huertos cerca de tí</h3>
            <select name="" id="" class="btn btn-block btn-outline-success">
                <option value="" value="none" selected disabled hidden>Filtros </option>
                <option value="">Precio ascendente</option>
                <option value="">Precio descendente</option>
                <option value="">Tamaño disponible</option>
                <option value="">Localización</option>
            </select>
        </div>


        <div class="fila">

            <div class="columna">
                <img src="/assets/images/huertito.jpeg" class="card-img" alt="...">
            </div>


            <div class="columna2">
                <div class="card-body">
                    <h5 class="card-title">Titulo anuncio</h5>
                    <p class="card-text">Descripción breve: Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit.
                        Eveniet numquam molestias, consequatur officia nobis rerum.</p>
                    <p class="card-text text-muted">Información addicional localizacion (barrio, metro, etc.)</p>
                </div>
            </div>


            <div class="corazoncito">
                <input type="checkbox" id="like" />
                <label for="like">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M12 21.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53 0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54l-1.45 1.31z" />
                    </svg>
                </label>
            </div>
            <div class="puntuacion">
                <p class="clasificacion">
                    <input id="radio1" type="radio" name="estrellas" value="5">
                    <!--
                  --><label for="radio1">★</label>
                    <!--
                  --><input id="radio2" type="radio" name="estrellas" value="4">
                    <!--
                  --><label for="radio2">★</label>
                    <!--
                  --><input id="radio3" type="radio" name="estrellas" value="3">
                    <!--
                  --><label for="radio3">★</label>
                    <!--
                  --><input id="radio4" type="radio" name="estrellas" value="2">
                    <!--
                  --><label for="radio4">★</label>
                    <!--
                  --><input id="radio5" type="radio" name="estrellas" value="1">
                    <!--
                  --><label for="radio5">★</label>
                </p>
            </div>


        </div>






        <div class="fila">
            <div class="columna">
                <img src="/assets/images/huertito.jpeg" class="card-img" alt="...">
            </div>
            <div class="columna2">
                <div class="card-body">
                    <h5 class="card-title">Titulo anuncio</h5>
                    <p class="card-text">Descripción breve: Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit.
                        Eveniet numquam molestias, consequatur officia nobis rerum.</p>
                    <p class="card-text text-muted">Información addicional localizacion (barrio, metro, etc.)</p>
                </div>
            </div>
            <div class="corazoncito">
                <input type="checkbox" id="like" />
                <label for="like">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M12 21.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53 0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54l-1.45 1.31z" />
                    </svg>
                </label>
            </div>
            <div class="puntuacion">
                <p class="clasificacion">
                    <input id="radiov1" type="radio" name="estrellas" value="5">
                    <!--
                  --><label for="radiov1">★</label>
                    <!--
                  --><input id="radiov2" type="radio" name="estrellas" value="4">
                    <!--
                  --><label for="radiov2">★</label>
                    <!--
                  --><input id="radiov3" type="radio" name="estrellas" value="3">
                    <!--
                  --><label for="radiov3">★</label>
                    <!--
                  --><input id="radiov4" type="radio" name="estrellas" value="2">
                    <!--
                  --><label for="radiov4">★</label>
                    <!--
                  --><input id="radiov5" type="radio" name="estrellas" value="1">
                    <!--
                  --><label for="radiov5">★</label>
                </p>
            </div>


        </div>

    </div>


</div>