<div class="mainCont">

    <div class="mainCont2">

        <div class="logo">
            <a href="#">
                <picture>
                    <source media="(max-width: 48em)" srcset="../../assets/images/Logo_urbangarden_small1_grey.png">
                    <img class="img-fluid" src="../../assets/images/Logo_urbangarden_large_grey.png">
                </picture>
                <!-- <i class="fas fa-seedling">UG</i> -->


            </a>
        </div>


        <div class=" clicka">

            <div class="venta" (click)="onClick('form-parcela')">
                <button class="btn">Ofrece tú parcela</button>
            </div>
            <div class="desplegable">
                <button class="btn"><i class="fas fa-bars"></i><i class="fas fa-user-circle" *ngIf="imagen==='' "></i>
                    <img *ngIf="imagen !== '' " [src]="imagen" alt=""></button>
                <div class="contenido-desplegable">
                    <ul>
                        <li *ngIf="!usuariosService.isLogged()" (click)="onClick('login')"><i
                                class="fas fa-user-circle"></i>Iniciar sesión
                        </li>
                        <li *ngIf="!usuariosService.isLogged()" (click)="onClick('form')"><i
                                class="fas fa-sign-in-alt"></i>Regístrate
                        </li>
                        <li *ngIf="usuariosService.isLogged()" (click)="onClick2('perfil-usuario')"><i
                                class="fas fa-address-book"></i>Perfil de
                            usuario
                        </li>


                        <li *ngIf="usuariosService.isLogged()" (click)="onClick('mensajes-privados')"><i
                                class="far fa-envelope"></i>Mis Mensajes</li>
                        <li *ngIf="usuariosService.isLogged()" (click)="onCancel()"><i
                                class="fas fa-sign-out-alt"></i>LogOut </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>