*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1350px;
    margin: 0 auto;
}

nav {
    padding: 15px 10px;
    background-color: #7bed9f;
}

nav .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.login{
    width: 40%;
    justify-content: right;
    
}

nav .logo{
    width: 60%;
}

nav .logo a, nav .logo i{
    font-size: 1.7em;
    color: black;
    text-decoration: none;
}

.login button{
    width: 40%;
    margin-left: 15px;
    padding: 10px;
    font-size: 1.3em;
}

.login button i{
    font-size: 100%;
    margin-right: 20px;

}

.login button:hover{
    transform: scale(1.1);
}

a, span {
    font-family: var(--fuentePrimaria);
    
}

@media(max-width: 62.75em){
    .login span{
        display: none;
    }

    .login button{
        width: auto;
    }
}

@media(max-width: 48em){
    .login span{
        display: none;
    }

    .login button{
        width: auto;
    }
}