<nav>
    <div class="container row">
        <div class="logo">
            <a href="#">
                <i class="fas fa-seedling">CtH</i>
            </a>
        </div>
        <div class="venta">
            <button class="btn"><span>Ofrece tú parcela</span></button>
        </div>
        <div class="desplegable">
            <button class="btn"><i class="fas fa-user-circle"></i></button>
            <div class="contenido-desplegable">
                <ul>
                    <li><a href="http://localhost:4200/login"><i class="fas fa-user-circle"></i>Iniciar sesión</a></li>
                    <li><a href="http://localhost:4200/form"><i class="fas fa-sign-in-alt"></i>Regístrate</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>