*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1350px;
    margin: 0 auto;
}

nav {
    padding: 15px 10px;
    border-bottom:1px ridge green;
    background-color: rgba(150, 230, 150, 0.137);
    
}

nav .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.venta{
    width: 25%;
    padding-top: 8px;
    margin-left: 100px;
}

.venta button{
    padding: 5px;
    border: none;
    color: var(--color-secundario);
    font-family: var(--fuentePrimaria);
    font-size: 1.2em;
    border-radius: 20px 20px;
    border: 1px solid rgba(0, 128, 0, 0.11);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.34); 
    box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.34); 
}

.venta button:hover{
    transform: scale(1.1);
    background-color: #44f18c46;
    color: var(--color-secundario);
}



nav .logo{
    width: 40%;
    margin-left: 50px;
}

nav .logo a, nav .logo i{
    font-size: 1.7em;
    color: black;
    text-decoration: none;
}

.desplegable{
    position: relative;
    width: 20%;
    
}

.desplegable button{
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 20px 20px;
    border: 1px solid rgba(0, 128, 0, 0.11);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.34); 
    box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.34);  

}

.desplegable button i:first-child{
    font-size: 20px;
    color: var(--color-secundario);
    margin-right: 5px;
    text-align: center
    
}

.desplegable button i:last-child{
    font-size: 35px;
    color: var(--color-secundario);
    
}

.contenido-desplegable{
    border: 2px solid green;
    border-radius: 10px 10px;
    display: none;
    left: 0;
    padding-top: 4px;
    position: absolute;
    background-color: white;
    width: 200px;  
    margin-top: 2px;
}

.contenido-desplegable ul li{
    margin-bottom: 5px;
    text-align: left;
    list-style: none;
    width: 100%;
    padding: 5px;
    font-family: var(--fuentePrimaria);
}

.contenido-desplegable ul li:hover{
    background-color: #44f18c46;
    border-radius: 10px 10px;
    
}

.contenido-desplegable ul li a{
    text-decoration: none;
    width: 100%;
    color: green;
}

.contenido-desplegable ul li i{
    padding: 0 10px;
    width: 25%;
    font-size: 20px;
}

.contenido-desplegable ul li a:hover{
    text-decoration: underline;
    
}

.desplegable button:hover{
    transform: scale(1.1);
    background-color: #44f18c46;
    
}

.desplegable:hover .contenido-desplegable{
    display: block;
}

