.perfilusuario{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(80, 214, 18, 0.575);  
    box-shadow: 0px 0px 12px -2px rgba(3, 85, 3, 0.418);
}

.nombre{
    width: 74%;
    margin-top: 50px;
    margin-left: 30px;
    
}

.nombre h2{
    font-size: 3em;
    font-family: var(--fuentePrincipal);
}

.imagenusuario{
    width: 20%;
    margin-right: 30px;
    
}

.imagenusuario img{
    width: 100%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(80, 214, 18, 0.575);  
    box-shadow: 0px 0px 12px -2px rgba(3, 85, 3, 0.418);
}

.todainfo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.todainfo span{
    font-size: 1.2em;
    font-family: var(--fuentePrincipal);
    color: green;
}

.infogeneral{
    width: 49%;
    padding: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(80, 214, 18, 0.575);  
     box-shadow: 0px 0px 12px -2px rgba(3, 85, 3, 0.418);
}

.contacto{
    width: 49%;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(80, 214, 18, 0.575);  
     box-shadow: 0px 0px 12px -2px rgba(3, 85, 3, 0.418);
}

.infoparcela{
    width: 49%;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(80, 214, 18, 0.575);  
     box-shadow: 0px 0px 12px -2px rgba(3, 85, 3, 0.418);
}

.descripciongeneral{
    width: 49%;
    padding: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(80, 214, 18, 0.575);  
     box-shadow: 0px 0px 12px -2px rgba(3, 85, 3, 0.418);
}



.fila {
	width: 100%;
    flex-wrap: wrap;
	display: flex;
	border-bottom: 1px solid rgb(112, 110, 110);
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

.columna {
	width: 30%;
	margin-top: 10px;
}

.columna img {
	width: 175px;
	height: 120px;
}


.columna2 {
	width: 50%;
	padding: 5px;
	margin-left: 15px;
	/* margin-top: 10px; */
}

.columna2 h5 {
	margin-bottom: 5px;
	color: rgb(51, 51, 51);
}

.columna2 h5:hover{
	transform: scale(1.05);
	margin-left: 5px;
	cursor: pointer;
}

.columna2 h6 {
	margin-bottom: 10px;
	color: teal;
}


