*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainCont{
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
}


.perfilusuario{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 9px -2px rgba(80, 214, 18, 0.575);  
    box-shadow: 0px 0px 9px -2px rgba(3, 85, 3, 0.418);
}

.cabeza {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.nombre {
    width: 70%;
}


.nombre h2{
    font-size: 3em;
    font-family: var(--fuentePrincipal);
    font-weight: 600;
    margin-left: 10px;
}

.edita {
    width: 120px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(206, 175, 74);
    color: white;
}


.imagenusuario{
    width: 20%;
}

.imagenusuario img{
    width: 190px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 7px -2px rgba(80, 214, 18, 0.575);  
    box-shadow: 0px 0px 7px -2px rgba(3, 85, 3, 0.418);
}

.todainfo{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.todainfo span{
    font-size: 1.05em;
    font-family: var(--fuentePrincipal);
    font-weight: 600;
}

.infogeneral{
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(80, 214, 18, 0.575);  
     box-shadow: 0px 0px 12px -2px rgba(3, 85, 3, 0.418);
}

.infogeneral h3 {
    color: rgb(65, 126, 100);
    margin-bottom: 8px;
    margin-top: 16px;
}





.descripciongeneral{
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(80, 214, 18, 0.575);  
     box-shadow: 0px 0px 12px -2px rgba(3, 85, 3, 0.418);
}

.descripciongeneral h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(65, 126, 100);
}

.filita {
    height: 400px;
    overflow-y: scroll;
}

.fila {
    width: 100%;
    flex-wrap: wrap;
	display: flex;
	border-bottom: 1px solid rgb(112, 110, 110);
	margin-top: 5px;
	margin-bottom: 5px;
    padding: 5px;
}

.columna {
	width: 30%;
	margin-top: 10px;
}

.columna img {
	width: 175px;
	height: 120px;
}


.columna2 {
	width: 50%;
	padding: 5px;
	margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.columna2 h5 {
	margin-bottom: 5px;
	color: rgb(51, 51, 51);
}

.columna2 h5:hover{
	transform: scale(1.05);
	margin-left: 5px;
	cursor: pointer;
}

.columna2 h6 {
	margin-bottom: 10px;
	color: teal;
}



@media(max-width: 74em){

    .descripciongeneral{
        width: 50%;
        padding: 10px; 
        /* flex-wrap: wrap;
        display: flex;
        justify-content: space-between; */
    }

	.filita {
		width: 100%;
		padding-left: 0px;
	}

    .fila {
		width: 100%;
		padding-left: 0px;
	}

	.columna{
		width: 45%;
        margin-left: 5px;
        margin-right: 10px;
    }

    .columna img {
        width: 150px;
        height: 110px;
    }
    

	.columna2{
        width: 100%;
        
        margin-left: 5px;
	}



    .mainCont {
        width: 100%; 
        margin: 0 auto;
    }

    .perfilusuario{
        width: 100%;
       padding: 0px; 
       -webkit-box-shadow: none; 
       box-shadow: none;
    }
    

    .cabeza {
        width: 100%;
        justify-content: space-between;
    }

    .todainfo{
        width: 50%;
        padding: 0px; 
        
    }

    .infogeneral {
        width: 100%; 
        -webkit-box-shadow: none;
        box-shadow: none; 
        margin-bottom: 20px;
        padding: 15px;
    }

    .nombre{
        width: 100%;
         text-align: center;
        margin-bottom: 25px;
       
    }

    .nombre h2 {
        margin-left: 5px;
        font-size: 25px;
    }

    .imagenusuario {
        width: 100%;
        text-align: center;
    }
    .imagenusuario img{

        width: 130px;
    }



}


@media(max-width: 48em){

    .descripciongeneral{
        width: 100%;
        padding: 10px; 
    }

	.fila {
		width: 95%;
		padding-left: 0px;
	}

	.columna{
		width: 100%;
		padding-left: 0px;
	}

	.columna2{
		width: 100%;
		margin-left: 0px;
	}


    .mainCont {
        width: 100%; 
    }

    .perfilusuario{
       padding: 0px; 
       -webkit-box-shadow: none; 
       box-shadow: none;
    }
    

    .cabeza {
        width: 100%;
        justify-content: space-between;
    }

    .todainfo{
        width: 100%;
        padding: 0px; 
        
    }

    .infogeneral {
        width: 100%; 
        -webkit-box-shadow: none;
        box-shadow: none; 
        margin-bottom: 20px;
        padding: 15px;
    }

    .nombre{
        width: 100%;
         text-align: center;
        margin-bottom: 25px;
       
    }

    .nombre h2 {
        margin-left: 5px;
        font-size: 20px;
    }

    .imagenusuario {
        width: 100%;
        text-align: center;
    }
    .imagenusuario img{

        width: 90px;
    }
	
}

