<navbar></navbar>

<div class="perfilusuario container">
    <div class="nombre">
        <h2>Nombre de usuario</h2>
    </div>
    <div class="imagenusuario">
        <img src="../../assets/images/usuario3.jpg" alt="">
    </div>
    <div class="todainfo">
        <div class="infogeneral">
            <p><span>Nombre: </span>Juan</p>
            <p><span>Apellidos: </span>Perez Sanchez</p>
            <p><span>Fecha de nacimiento: </span>1986/05/09</p>
        </div>
        <div class="contacto">
            <p><span>Dirección: </span>Madrid</p>
            <p><span>Email: </span>juan@gmail.com</p>
            <p><span>Número de teléfono: </span>657890908</p>
        </div>
        <div class="infoparcela">
            <galeria></galeria>
            <p><span>Descripción: </span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero itaque dolorum
                consectetur consequatur, nostrum labore? Aspernatur, illum iure ad dicta, labore ex deserunt sint
                nesciunt quod exercitationem laudantium, ipsam dolorum?</p>
        </div>
        <div class="descripciongeneral">
            <span>Mis anuncios: </span>
            <div class="fila" *ngFor="let parcela of parcelitas">

                <div class="columna">
                    <img src="{{ parcela.images }}" alt="">
                </div>


                <div class="columna2">
                    <div class="card-body">
                        <h5 class="card-title" (click)="onClick(parcela)">{{ parcela.titulo }}</h5>
                        <h6>{{ parcela.precio_metro}}€ / m2</h6>
                        <p class="card-text"> {{ parcela.descripcion }} </p>
                        <p class="card-text text-muted"> {{ parcela.calle }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>