<p-galleria [(value)]="imagenes" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"
    [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '850px'}" [numVisible]="7" [circular]="true"
    [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
    </ng-template>
    <!--   <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.thumbnailImageSrc" style="display: block;" />
        </div>
    </ng-template> -->
</p-galleria>
<div *ngIf="imagenes" class="p-grid galeriapequeña">
    <div class="galeriapequeña2" *ngFor="let imagen of imagenes; let index = index;" key="index">
        <img class="imagenpequeña" [src]="imagen.thumbnailImageSrc" [alt]="imagen.alt" style="cursor: pointer"
            (click)="imagenClick(index)" />
    </div>
</div>