<navbar></navbar>

<div class="container">
    <h2>Login</h2>
    <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()" class="contenido">
        <div class="imgcontainer">
            <img src="https://cdn.pixabay.com/photo/2013/07/13/10/14/man-156836_960_720.png" alt="Avatar"
                class="avatar">
        </div>

        <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Introduce tu email" formControlName="email">


            <label for="password"><b>Contraseña</b></label>
            <input type="password" placeholder="Introduce Contraseña" formControlName="password">

            <p class="text-danger" *ngIf="mensajeError"> {{ mensajeError }}</p>


            <button class="submitito" type="submit">Login</button>

        </div>


    </form>
</div>