<navbar></navbar>

<div class="mainCont">

    <div class="top">

        <div class="foto">
            <img src="{{ usuario?.imagen}}" alt="foto del usuario">
        </div>



    </div>


    <div class="campos">
        <h4>{{ usuario?.nombre}} {{ usuario?.apellidos}}</h4>
        <h5>Role - Dueño o busca huertos</h5>

        <p> {{ usuario?.descripcion}}</p>


        <button class="boton btn" type="submit" [routerLink]="['/mensaje']">Enviar
            mensaje</button>

        <p *ngIf="!usuariosService.isLogged()" class=" warn text-success">Inicia sesion para
            mandar un mensaje</p>

    </div>


</div>