<div class="container">

    <div class="mainCont container">

        <div class="top">

            <div class="foto">
                <img src="/assets/images/imagenusuario.png" alt="foto del usuario">
            </div>

            <div class="estrellas">
                <span style.display='none' class="close" title="Close Modal">&times;</span>
            </div>

        </div>


        <div class="campos">
            <h4>Nombre Usuario</h4>
            <h5>Role - Dueño o busca huertos</h5>

            <p>Descripcion usuario, qué busca ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum qui
                dicta unde laborum reiciendis reprehenderit deserunt dolores necessitatibus, maxime, velit, nostrum
                natus omnis fuga! Ratione? Va usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo
                por
                no llamarte Rodrigor te voy a borrar el cerito la caidita </p>


            <button class="btn btn-success" type="submit">Enviar mensaje</button>

        </div>


        <div class="galeria">
            <ul>
                <li>
                    <img src="/assets/images/huertito.jpeg" (click)="onClick($event)">
                </li>


                <li>
                    <img src="/assets/images/huertos.jpg" (click)="onClick($event)">

                </li>


                <li>
                    <img src="/assets/images/cultivos.jpg" (click)="onClick($event)">
                </li>
            </ul>
        </div>




        <div class="pie container" style="background-color:#f1f1f1">
            <button class="cancelbtn btn btn-danger" type="button">Cancel</button>
            <span class="contrasenaOlvidada">Has olvidado tu <a href="#">contraseña?</a></span>
        </div>

    </div>