* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainCont {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.34); 
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.34); 
    min-height: 70.7vh;
}

.top {
   padding: 10px 20px;
   flex-wrap: wrap;
   display: flex;
   margin-bottom: 20px;
}


.foto {
    width: 35%;
    text-align: left;
    background-color: white;
}

.foto img {
    max-width: 180px;
    max-height: 230px; 
}

.campos{
    width: 100%;
    padding: 25px;
}

.campos h4, h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.campos p {
    margin-bottom: 15px;
}


.boton {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 40px;
    width: 120px;
    background-color: rgb(28, 172, 124);
    color: white;
    border-radius: 3px;
}


.galeria {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    padding: 0px 10px; 
    margin-bottom: 20px;
}



.pie {
    width: 100.4%;
    margin-left: -2px;
    background-color:#c0b9b9;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cancelbtn {
    width: 120px;
    height: 40px;
}



@media(max-width: 52em){
    .pie {
        padding: 15px 10px; 
    }

    .pie span {
        margin-top: 5px;
    }
}

@media(max-width: 46em){

    .mainCont{
        width: 100%;
        margin-bottom: 0px;
    }
    
    .foto {
        width: 90%;
        text-align: center;
    }

    .galeria {
        margin-top: 20px;
        width: 100%;
    }

    .pie {
        padding: 15px 5px; 
    }

    .pie span {
        margin-top: 5px;
    }

    .cancelbtn {
        width: 100px;
        height: 40px;
    }
}
