<!-- Footer -->

<nav class="navbar navbar-expand-lg bg-dark pie">

  <div class="navbar-brand logo">CtH<i class="fas fa-seedling"></i></div>

  <div class="logo-redes">

    <ul class="navbar navi">

      <li>
        <a href="#"> <i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="far fa-envelope"></i></a>
      </li>
    </ul>

  </div>


  <div class="texto float-right">
    <p>Cultiva tu Huerto <span> Copyright © 2020</span> </p>
  </div>

</nav>