<router-outlet></router-outlet>


<!-- Footer -->

<nav class="navbar navbar-expand-lg bg-dark pie">

  <div class="navbar-brand logo">
    <picture>
      <source media="(max-width: 48em)" srcset="../../assets/images/Logo_urbangarden_small1_grey.png">
      <img class="img-fluid" src="../../assets/images/Logo_urbangarden_small1_grey.png">
    </picture>
  </div>

  <div class="logo-redes">

    <ul class="navbar navi">

      <li>
        <a href="#"> <i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="far fa-envelope"></i></a>
      </li>
    </ul>

  </div>


  <div class="texto float-right">
    <p>Urban Garden <span> Copyright © 2020</span> </p>
  </div>

</nav>