*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pie {
    bottom: 0;
    width: 100%; 
    color: white;
    justify-content: space-around;
}

.pie .logo {
    color: white;
    margin-left: 15px;
    font-size: 30px;
    font-family: var(--fuentePrimaria);
}

.logo img {
    width: 80px; 
}

.pie ul {
   list-style: none;
}

.navi li {
    padding-left: 50px;
}

.logo-redes {
    justify-content: space-between;
}

.fab, .far {
    color: white;
    font-size: 25px;
    padding: 25px 10px;

}

.pie .texto {
    margin-top: 10px;
    margin-bottom: 10px;
}


@media(max-width: 48em){
    
    .navi li {
        padding-left: 10px;
    }

    .pie .logo {
        margin-left: 6px;
    }

    .logo img{
        width: 60px;
    }

    .fab, .far {
        padding: 25px 8px;
    }

    .pie .texto {
        font-size: small;
    }
}


