<div class="mainCont">
    <div class="titulo">
        <h2>Colectividad</h2>
    </div>


    <div class="comunitarios" (click)="onClick('huertos-colectivos')">
        <div class="texto">
            <h3>Huertos urbanos comunitarios</h3>
            <p>Busca un huerto comunitario cerca de tí</p>
        </div>
    </div>

    <div class="infoCultivo" (click)="onClick('info-cultivo')">
        <div class="texto">
            <h3>Info Cultivo</h3>
            <p>Busca aquí como cultivar tus alimentos</p>
        </div>
    </div>
</div>