 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


.mainCont {
    width: 80%;
    margin: 0 auto; 
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px; 
    border-width: 2px;
        border-style: solid;
        border-image: 
          linear-gradient(
            to bottom, 
            rgb(52, 124, 105), rgb(87, 74, 90), rgb(255, 255, 255)) 1 100%; 
    height: 80vh;
    z-index: inherit;
}

.titulo {
    width: 100%;
    text-align: center;
    /* margin-top: 20px; */
}

.titulo h2 {
    font-family: var(--fuentePrimaria);
    font-weight: 700;
}


.comunitarios{
    background-image: url('/assets/images/huertos.jpg');
    background-size: cover;
    width: 40%;
    /* margin-top: -60px; */
    height: 250px;
    opacity: 0.78;
    background-color: rgb(79, 146, 122);
    background-blend-mode: multiply;
    border: 1px solid var(--color-secundario);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.34); 
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.34); 
    cursor: pointer;
}

.infoCultivo{
    background-image: url('/assets/images/cultivos.jpg');
    background-size: cover;
    width: 40%;
    /* margin-top: -60px; */
    height: 250px;
    opacity: 0.78;
    background-color: rgb(79, 146, 122);
    background-blend-mode: multiply;
    border: 1px solid var(--color-secundario);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.34); 
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.34); 
    cursor: pointer;
}


.texto h3 {
    color: rgb(255, 255, 255);
    font-family: var(--fuentePrincipal);
    font-weight: 900;
    position: relative;
    top: 60px;
    text-align: center;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}


.texto p {
    color: rgb(255, 255, 255);
    font-family: var(--fuenteSecundaria);
    font-weight: 900;
    position: relative;
    top: 70px;
    text-align: center;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}




@media(max-width: 200em){
    .infoCultivo, .comunitarios{
        margin-top: 20px;
    }
}




@media(max-width: 48em){

    .mainCont {
        width: 100%;    
    }

    .titulo h2 {
        margin-bottom: 20px;
    }

    .texto h3 {
        font-size: 18px; 
    }

    .texto p {
        font-size: 15px;
    }

    .infoCultivo, .comunitarios{
        margin-top: 20px;
        width: 80%;
    }
}

