
.mainCont {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;

}

.busqueda{
    width: 48%;
    margin-right: 20px;
}

.lista {
    width: 48%;
    padding-left: 10px; 
}

.lista h3 {
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    margin-bottom: 15px;
    font-size: 2.5em;
    border-bottom: 3px solid green;
}

.lista ul {
    
    padding: 5px; 
    margin-top: 40px;
}

.lista ul li {
    margin-bottom: 15px;
    margin-left: 10px;
    cursor: pointer;   
}




@media(max-width: 48em){

    .busqueda {
       width: 100%; 
    }
 
    .lista {
        width: 100%;
        margin-top: 40px;
    }

}