.mainCont {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    
}


.lista {
    width: 100%;
    padding-left: 20px;
}

.lista h3 {
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    margin-bottom: 15px;
}

.lista ul {
    list-style: none;
    padding: 5px; 
}

.lista ul li {
    margin-bottom: 8px;
}


@media(max-width: 75.625em){

    .lista h3{
        margin-top: 20px;
    }


}