<navbar></navbar>

<div class="mainCont container">

    <div class="busqueda">

        <input type="text" placeholder="Codigo postal, dirección, ...">
        <button class="boton btn-success"><i class="fas fa-search"></i></button>

        <div class="mapa">
            Meter componente mapa aquí
        </div>

    </div>


    <h3 class="text-success">Lista huertos</h3>

    <div class="lista">
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quod.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dicta.</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, consequuntur!</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, nulla!</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, rem!</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, odio.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, dolorum?</li>
        </ul>
    </div>

</div>