* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

navbar{
    width: 100%;
}


.mainContent{
    width: 70%;
    background-color: rgb(242, 252, 241);
    padding: 20px;
    margin: 0 auto; 
}


.imagenPrincipal{
    width: 100%;
    margin-bottom: 50px;
}

.imagenPrincipal img{
    width: 100%;
}

.mainContent h2{
    width: 100%;
    font-weight: 700;
    margin-bottom: 40px;
    /* text-decoration: underline; */
}

.mainContent h5{
    font-weight: 700;
}

.segundoCont {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    width: 100%;
}

.infogeneral{
    width: 50%;
    /* margin-right: 10px; */
    margin-bottom: 50px;
}

.infogeneral2{
    width: 50%;
    margin-bottom: 50px;
}

/* .equipamiento {
    width: 20%;
    margin-left: 25px;
} */

.mapa{
    width: 100%;
    margin-top: 40px;
}

.galeria {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 2px solid rgb(69, 105, 69);
    border-top: 2px solid rgb(69, 105, 69);
}

@media (max-width:48em){

    .mainContent{
        width: 100%;
        padding: 15px;
        margin: 0 auto; 
        /* text-align: center; */
    }
  
    .mapa {
        width: 100%;
    }

    .galeria {
        width: 100%;
        margin-top: 25px;
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 2px solid rgb(69, 105, 69);
        border-top: 2px solid rgb(69, 105, 69);
    }

    .infogeneral{
        width: 47%;
        /* margin-right: 10px; */
        margin-bottom: 50px;
        margin-left: 15px;
    }
    
    .infogeneral2{
        width: 47%;
        margin-left: 15px;
        margin-bottom: 50px;
    }
    
}


@media (max-width:30em){

    .mainContent{
        width: 100%;
        padding: 10px;
        margin: 0 auto; 
        text-align: center;
    }

    .infogeneral{
        width: 100%;
        /* margin-right: 10px; */
        margin-bottom: 50px;
        margin-left: 15px;
        text-align: left;
    }
    
    .infogeneral2{
        width: 100%;
        text-align: left;
        margin-bottom: 50px;
    }
}



