<navbar></navbar>


<div class="mainContent" *ngFor="let titulo of titulos">

    <div class="imagenPrincipal">
        <img src="../../assets/images/huertos.jpg" alt="">
    </div>

    <div class="segundoCont">
        <h2>{{ titulo.title }}</h2>
        <div class="infogeneral">

            <h5>Dirección</h5>
            <p>{{ titulo.address }}</p>
            <h5>Entidad responsable</h5>
            <p>{{ titulo.entity }}</p>
            <h5>Email de contacto</h5>
            <p>{{ titulo.email }}</p>
            <h5>Sitio web</h5>
            <a href="#"> http://www.asamblea.com</a>
        </div>

        <div class="infogeneral2">
            <h5>Modelo de gestión</h5>
            <p> {{ titulo.governance }}</p>
            <h5>Días y hora de apertura</h5>
            <p> {{ titulo.timetable }} </p>
            <h5>Tamaño</h5>
            <p> {{ titulo.area }} m2</p>
        </div>

        <div class="equipamiento">
            <ul>
                <li>Caseta de heramientas</li>
                <li>Valla alta</li>
            </ul>
        </div>

    </div>

    <div class="galeria">
        <galeria></galeria>
    </div>

    <div class="mapa">
        <app-mapa [buscador]="false"></app-mapa>
    </div>

</div>