<navbar></navbar>


<div class="mainContent">

    <div class="imagenPrincipal">
        <img src="{{ titulos.image }}">
    </div>

    <div class="segundoCont">
        <h2>{{ titulos.title }}</h2>
        <div class="infogeneral">

            <h5>Dirección</h5>
            <p>{{ titulos.address }}</p>
            <h5>Entidad responsable</h5>
            <p>{{ titulos.entity }}</p>
            <h5>Email de contacto</h5>
            <p>{{ titulos.email }}</p>
            <h5>Sitio web</h5>
            <a href="#"> {{ titulos.website }} </a>
        </div>

        <div class="infogeneral2">
            <h5>Modelo de gestión</h5>
            <p> {{ titulos.governance }}</p>
            <h5>Días y hora de apertura</h5>
            <p> {{ titulos.timetable }} </p>
            <h5>Tamaño</h5>
            <p> {{ titulos.area }} m2</p>
        </div>

        <!-- <div class="equipamiento">
            <ul>
                <li>Caseta de heramientas</li>
                <li>Valla alta</li>
            </ul>
        </div> -->

    </div>

    <div class="galeria">
        <!-- <galeria></galeria> -->
        <p> {{ titulos.descripcion }} </p>
    </div>

    <div class="mapa">
        <app-mapa [buscador]="false"></app-mapa>
    </div>

</div>