<navbar></navbar>

<div class="mainCont ">

    <div class="busqueda">

        <input type="text" placeholder="Busca lo que quieres cultivar..." [(ngModel)]="cultivo">
        <button class="boton btn"><i class="fas fa-search" (click)="onSearch($event)"></i></button>

    </div>

    <div class="alimento card mb-3 col-md-10">

        <div class="row no-gutters" *ngFor="let element of cultivos">

            <div class="columna">
                <div class="col-md-3">
                    <img src="{{element.imagen}}" class="card-img">
                </div>

                <div class="texto col-md-9">

                    <div class="nombre">
                        <h4 class="card-title">{{element.nombre}}</h4>
                    </div>

                    <p>{{ element.descripcion }}</p>
                </div>

            </div>

            <div class="info">


                <h5>Cultivo</h5>
                <p> {{ element.siembra }}
                </p>


                <ul>
                    <h5>Variedades y recoleccion</h5>
                    <li>Golden Japan (japonesa): Fruto grueso, amarillo claro pajizo, piel brillante gruesa y
                        resistente, carne muy jugosa y agradable. Fruto resistente al transporte. Árbol vigoroso y
                        de
                        gran fertilidad. Recolección a mediados de junio.</li>

                    <li>Santa Rosa: Fruto de tamaño grande, redondeado y acorazonado. Piel de color rojo intenso.
                        Carne
                        amarillo ámbar y carmín claro, blanda, muy jugosa, dulce y perfumada, con sabor que recuerda
                        a
                        la fresa. Árbol de porte erguido, mediano desarrollo y muy fértil. Parcialmente auto-fértil.
                        Recolección a mediados de julio.</li>

                    <li>Reina Claudia Verde: fruto medio redondeado, de color verde, pulpa fina y jugosa, de perfume
                        y
                        sabor característicos. Hueso libre. Parcialmente auto-fértil. Excelente para mesa, compotas,
                        conservas y mermeladas. Recolección en julio-agosto.</li>

                    <li>Reina Claudia de Oullins: variedad francesa. Árbol vigoroso y productivo. Fruto grande de
                        color
                        verde claro, dorado. Carne pálida muy jugosa y de asbor poco azucarado. Hueso semi-libre. Es
                        una
                        de las variedades ás extendidas. Variedad polinizadora: Reina Claudia Verde. Maduración:
                        segunda
                        quincena de julio (en Zaragoza)</li>
                </ul>

            </div>
        </div>
    </div>
</div>