<navbar></navbar>

<div class="mainCont ">

    <div class="busqueda">

        <input type="text" placeholder="Busca lo que quieres cultivar..." [(ngModel)]="busqueda">
        <button class="boton btn" (click)="onSearch()"><i class="fas fa-search"></i></button>

    </div>


    <div class="inicio" *ngIf="sinBusc == false && sinDiv == true && !busqueda">
        <div class="foto">
            <img src="../../assets/images/busca-imagen.png">
        </div>
        <p class="texto">Quieres cultivar algo y no sabes cómo o cuándo? Introduce el nombre del alimento en el
            buscador!</p>
    </div>



    <div class="instruccion" [ngClass]="[sinBusc == false ? 'esconder' : '']">

        <img src="../../assets/images/talking-veg.png" alt="">
        <i class="fas fa-info-circle">
            No tenemos información sobre este alimento
        </i>

    </div>

    <div class="alimento card" [ngClass]="[sinDiv == true ? 'esconder' : '']">

        <div class="row no-gutters">

            <div class="columna">
                <div class="col-md-3">
                    <img src="{{cultivo?.imagen}}" class="card-img">
                </div>

                <div class="texto col-md-9">

                    <div class="nombre">
                        <h4 class="card-title">{{cultivo?.nombre}}</h4>
                    </div>

                    <p>{{ cultivo?.descripcion }}</p>
                </div>

            </div>

            <div class="info">


                <h5>Siembra</h5>
                <p> {{ cultivo?.siembra }}</p>
                <p> {{ cultivo?.transplante }} </p>
                <p> {{ cultivo?.plaga }} </p>


                <ul>
                    <h5>Qué necesita? </h5>
                    <li>{{ cultivo?.clima }}</li>

                    <li>{{ cultivo?.luz }}</li>

                    <li>{{ cultivo?.riego }}</li>

                    <li>{{ cultivo?.sustrato }}</li>
                </ul>

                <h5>Cosecha</h5>
                <p>{{ cultivo?.cosecha }}</p>

            </div>
        </div>
    </div>
</div>