*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


navbar {
    width: 100%;
    position: fixed;
    top: 0; 
}




.hero{
    background-image: url('/assets/images/cultisun.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(16, 197, 113, 0.342);
    height: 100vh;
    /* width: fit-content; */
}



@media(max-width: 27em){

    .hero{
        width: fit-content;
    }
}

