*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container{
    max-width: 1150px;
    margin: 0 auto;
} */

navbar {
    width: 100%;
    position: fixed;
    top: 0; 
}


.hero{
    background-image: url('/assets/images/cultisun.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgb(175, 170, 170);
    height: 110vh;
    /* width: fit-content; */
}


@media(max-width: 30em){

    .hero{
        width: fit-content;
    }
}

