<div class="mainCont">

    <div class="arriba">

        <div class="registra">
            <div class="icono">
                <i class="fas fa-sign-in-alt"></i>
                <p>Regístrate y crea tu perfil de usuario</p>
            </div>
        </div>

        <div class="flecha">
            <i class="far fa-arrow-alt-circle-right"></i>
        </div>

        <div class="consulta">
            <div class="icono">
                <i class="fas fa-search-location"></i>
                <p>Buscas una parcela para alquilar? Introduce tu ciudad en el buscador y
                    consulta todos los anuncios cerca de tí</p>
            </div>
        </div>

        <div class="flecha">
            <div class="icono">
                <i class="far fa-arrow-alt-circle-right"></i>
            </div>
        </div>

        <div class="reserva">
            <div class="icono">
                <i class="far fa-handshake"></i>
                <p>Contacta con el dueño y reserva el trozo que te corresponde</p>
            </div>
        </div>

    </div>


    <div class="abajo">
        <i class="far fa-arrow-alt-circle-down"></i>
    </div>

    <div class="dueno">
        <div class="duenoDentro">
            <div class="icono">
                <i class="fas fa-home"></i>
                <p>Tienes una parcela y quieres alquilarla? Registrala y publica tu anuncio</p>
            </div>
        </div>
    </div>




    <div class="comunidad">

        <p>Y si no quieres registrarte, consulta abajo nuestra sección <span>Colectividad</span> </p>

        <i class="far fa-arrow-alt-circle-down"></i>
        <!-- <div class="icono">
            <i class="fas fa-users"></i>
            <p>Si prefieres unirte a un huerto público, consulta nuestra lista de huertos
                comunitarios
                abajo (sólo Madrid)</p>
        </div>

        <div class="icono">
            <i class="fas fa-seedling"></i>
            <p>Quieres cultivar algo y no sabes cómo? Búscalo abajo</p>
        </div>
 -->
    </div>

</div>