<navbar></navbar>

<div class="mainCont container">

    <div class="cabecera">
        <div class="foto">
            <img src="{{usuario?.imagen}}">
            <h5 (click)="onClick(usuario?.id)">Enlace a perfil del usuario</h5>
        </div>

        <div class="texto">
            <h5>{{parcela?.titulo}}</h5>
            <p>{{parcela?.calle}}, {{parcela?.ciudad}}</p>


            <div class="caracteristicas">

                <h5>Caracteristicas</h5>

                <ul>
                    <li>Tamaño total: {{ parcela?.tamano_total}}</li>
                    <li>Tamaño disponible: {{ parcela?.tamano_disponible}} </li>
                    <li>Se puede o no encargar el anunciante</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="linea"></div>


    <div class="descripcion">


        <h5>Comentarios del anunciante</h5>

        <p></p>

    </div>



    <div class="pie">

        <div class="mapa">
            <h5>Ubicación</h5>
            <app-mapa-parcelas [parcelas]="parcelas" [buscador]="false" [fitBounds]="false">

            </app-mapa-parcelas>
        </div>



        <div class="tablacomentarios">
            <div class="listacomentarios">
                <div class="comentarios" *ngFor="let comentario of comentarios">
                    <img src="{{comentario.imagen}}" alt="">
                    <h5 (click)="onClickPaginaUsuario(comentario.fk_usuario)">{{comentario.nombre_usuario}}:</h5>
                    <span>{{comentario.fecha | date: 'dd/MM/yyyy'}}</span>
                    <button (click)="onClickDelete(comentario.id)"
                        *ngIf="usuariosService.isLogged() && comentario.fk_usuario == idUsuario"><i
                            class="fas fa-times"></i></button>
                    <p>{{comentario.texto_comentario}}</p>


                </div>
            </div>
            <div class="escribircomentario">
                <textarea placeholder="Escribe aquí un comentario..." [(ngModel)]="nuevocomentario" cols="90"
                    rows="4"></textarea>
                <input type="submit" class="btn btn-success" value="Enviar comentario" (click)="onClickComentario()">
            </div>



        </div>






        <div class="galeria">
            <!-- <p-galleria [(value)]="imagenes" [responsiveOptions]="responsiveOptions"
                [containerStyle]="{'max-width': '640px'}" [numVisible]="5" [showThumbnails]="false"
                [showIndicators]="true">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="p-grid p-nogutter p-justify-center">
                        <img [src]="item.thumbnailImageSrc" style="display: block;" />
                    </div>
                </ng-template>
            </p-galleria> -->
            <img src="{{ parcela?.images}}" alt="">



        </div>


    </div>
    <input class="btn boton" type="submit" value="Enviar mensaje" [routerLink]="['/mensaje']">

    <p *ngIf="!usuariosService.isLogged()" class=" warn text-success" (click)="onClick('login')">Inicia sesion para
        mandar un mensaje</p>

</div>