<navbar></navbar>

<div class="mainCont">

    <div class="cabecera">
        <div class="foto">
            <img src="{{usuario?.imagen}}">
            <h5 (click)="onClick(usuario?.id)">{{usuario?.nombre_usuario}}</h5>
        </div>

        <div class="texto">
            <h5>{{parcela?.titulo}}</h5>
            <p>{{parcela?.calle}}, {{parcela?.ciudad}}</p>


            <div class="caracteristicas">

                <h5>Caracteristicas</h5>

                <ul>
                    <li>Tamaño total: {{ parcela?.tamano_total}} m²</li>
                    <li>Tamaño disponible: {{ parcela?.trozo_disponible}} m²</li>

                </ul>
            </div>



        </div>

        <div class="reserva" *ngIf="idUsuario !== parcela?.fk_usuario">
            <form class="form-group row col-12" [formGroup]="formularioReserva" (ngSubmit)="onSubmit()">
                <h5>Te gusta esta parcela? </h5>
                <label>Indica cuántos m² quieres y reservala!</label>
                <input type="number" class="form-control" formControlName="tamano">
                <p class="text-danger"
                    *ngIf="formularioReserva.get('tamano').hasError('required') && formularioReserva.get('tamano').touched">
                    Introduce un valor correcto.
                </p>


                <input class="botonReserva btn btn-block" type="submit" value="Reserva tu parcela"
                    [disabled]="!formularioReserva.valid && !usuariosService.isLogged()">
                <p *ngIf="!usuariosService.isLogged() && formularioReserva.touched" class=" text-success"
                    (click)="redirigir('login')">Inicia sesion para
                    reservar tu parcela</p>
            </form>
            <p-toast position="top-right"></p-toast>
        </div>


        <div class="linea"></div>


        <div class="descripcion">


            <h5>Comentarios del anunciante</h5>

            <p>{{parcela?.descripcion}}</p>

            <div class="galeria">

                <img src="{{ parcela?.images}}" alt="">

            </div>

        </div>



        <div class="pie">

            <div class="mapa" *ngIf="parcela">
                <h5>Ubicación</h5>
                <app-mapa-parcelas [parcelas]="[parcela]" [buscador]="false" [zoom]="15" [fitBounds]="false">

                </app-mapa-parcelas>
            </div>



            <div class="tablacomentarios">
                <div class="listacomentarios">
                    <div class="comentarios" *ngFor="let comentario of comentarios">
                        <img src="{{comentario?.imagen}}" alt="">
                        <h5 (click)="onClickPaginaUsuario(comentario?.fk_usuario)">{{comentario?.nombre_usuario}}:</h5>
                        <span>{{comentario?.fecha | date: 'dd/MM/yyyy'}}</span>

                        <p>{{comentario?.texto_comentario}}</p>
                        <button (click)="onClickDelete(comentario?.id)"
                            *ngIf="usuariosService.isLogged() && comentario?.fk_usuario == idUsuario"><i
                                class="fas fa-times"></i></button>


                    </div>
                </div>
                <div class="escribircomentario">
                    <textarea placeholder="Escribe aquí un comentario..." [(ngModel)]="nuevocomentario" cols="90"
                        rows="4"></textarea>
                    <input type="submit" class="btn btn-block" value="Enviar comentario" (click)="onClickComentario()">
                </div>

            </div>






        </div>

        <div class="duda">
            <h5>Tienes una duda? Contacta con el dueño aquí ⬇</h5>

            <input class="btn boton" type="submit" value="Enviar mensaje" (click)="createConversacion(usuario.id)">

            <p *ngIf="!usuariosService.isLogged()" class=" warn text-success" (click)="onClick('login')">Inicia sesion
                para
                mandar un mensaje</p>
        </div>
    </div>